
.blue {
    background-color: #b5d8eb;
    height: 10vh;
}

.green {
    background-color: #93dfb8;
    height: 10vh
}

.orange {
    background-color: #ffc8ba;
    height: 10vh;
}

.pink {
    background-color: #ffbdd8;
    height: 40vh;
}

.grey {
    background-color: #eeeeee;
    height: 20vh;
}